{block content}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Place a new order</div>
                    <div class="panel-body">
                        {control orderForm}
                    </div>
                </div>

                {control orders}
            </div>
        </div>
    </div>
{/block}