<div class="panel panel-default">
    <div class="panel-heading">Orders</div>
    <div class="panel-body">
        <table id="example" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Price per unit</th>
                <th>Total price</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {foreach $orders as $o}
                <tr>
                    <td><a href="{plink Homepage:detail $o->getId()}">{$o->getNum()}</a></td>
                    <td>{$o->getDate()|date:'j.n.Y H:i'}</td>
                    <td>{$o->getType()|firstUpper}</td>
                    <td>{$o->getAmount()}l</td>
                    <td>{$o->getPricePerUnit()},-</td>
                    <td>{$o->getAmount() * $o->getPricePerUnit()},-</td>
                    <td>
                        {if $o->isPending()}
                            <a onclick="return confirm('Are you sure?');" href="{link cancel! $o->getId()}" class="btn btn-xs btn-danger">
                                <i class="fa fa-ban"></i> cancel
                            </a>
                        {/if}
                        {if !$o->isCancelled()}
                        <a href="" class="btn btn-xs btn-primary">
                            <i class="fa fa-download"></i> invoice
                        </a>
                        {/if}
                    </td>
                    <td>
                        {if $o->getStatus() == App\Model\Order::STATUS_PENDING}
                            pending
                        {elseif $o->getStatus() == App\Model\Order::STATUS_FULFILLED}
                            fulfilled
                        {elseif $o->getStatus() == App\Model\Order::STATUS_CANCELLED}
                            cancelled
                        {/if}
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>