h1.page-heading {
  margin-bottom: 50px;
}

.error-message {
  font-size: 12px;
  position: relative;
  top: 3px;
  color: #a94442;
}

#menu {
  margin-top: 20px;
}

#flashes {
  margin-top: 20px;
}

.panel-body form {
  display: block;
  margin: auto;
  max-width: 600px;
}

.help-block {
  margin-bottom: 0;
  margin-top: 3px;
}

.form-group label {
  font-weight: normal;
}

.form-group.required label {
  font-weight: bold;
}