# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('user')
            - addRole('admin')
            - addRole('kryo')
            - addResource('Homepage')
            - addResource('Kryo')
            - allow('admin')
            - allow('user', 'Homepage')
            - allow('kryo', 'Kryo')
            - allow('kryo', 'Homepage')
    router: App\RouterFactory::createRouter
    entityManager: App\EntityManagerFactory::create
    - App\Model\Auth
    - App\Components\IOrdersFactory
    - App\Model\Orders