# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
    doctrine:
        driver: pdo_mysql
        user: root
        password:
        host: localhost
        dbname: kryo