{block content}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Global settings</div>
                    <div class="panel-body">
                        {control settingsForm}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}