{block title}Sign In{/block}

{block content}
    <div class="container">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">

                <h1 class="page-heading">Please sign in first</h1>
                {control signForm}

            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
{/block}